*.class
*.log
*.*~
.idea/
*.iml
classes

# sbt specific
.gradle/
build/
out/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specifi
.scala_dependencies

# sagemath
*.sage-chat
*.sage-history

# latex
*.out
*.aux

gradle.properties

/gifttolatex
